body {
    margin: 0;
    font-family: Arial, sans-serif;
  color: aqua;
  border-right: 5px solid rgba(255, 255, 0, 0.5);
box-shadow: 0 0 31113px yellow, 0 0 22220px yellow, 0 0 33330px yellow, 0 0 99999px gold, 0 0 7033px gold, 0 0 8330px gold, 0 0 17040px gold, 0 0 15570px gold;
}

header {
    background-color: #333;
    color: blue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
  color: yellowgreen;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  color: azure;
}

.nav-links.active {
    opacity: 1;
  color: pink;
}

.nav-links li {
    margin-right: 20px;
  color: aqua;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
  color: red;
}

.menu-symbol {
    color: red;
}

.hero {
    background-image: linear-gradient(to right, azure, gray), url('https://telegra.ph/file/dc50abd9d6c4ca401614d.jpg');
    opacity: 10.65;
    padding: 100px 0;
    text-align: center;
    height: 1000px;
  opacity: 10;
  color: aqua;
}
a {
  color: aquamarine;
}
#meu-botao-id {
    background-color: gray;
    background-size: cover; /* Ajusta o tamanho da imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    /* Outros estilos */
    color: whitesmoke; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove a decoração de texto */
    display: block; /* Torna o elemento um bloco */
    font-size: 14px; /* Tamanho da fonte */
    font-family: italic;
    margin: 20px autor; /* Margem externa */
    cursor: pointer; /* Cursor do mouse */
    border: none; /* Remove a borda */
  position: absolute; /* Define o posicionamento absoluto em relação ao container */
    top: 65%; /* Posiciona o topo do texto no meio do container */
    left: 50%; /* Posiciona a esquerda do texto no meio do container */
    transform: translate(-50%, -50%);
}

.yepiec {
  color: aquamarine;
  font-size: 18px;
  margin-bottom: 30px;
}
/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column:last-child {
    margin-right: 0;
}

.footer-column h3 {
    color: #fff;
}

.footer-column p {
    margin: 10px 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.yepiec {
    text-align: center;
    margin-top: 20px;
}
